:root 
{
    --grid: auto-fill;
    
}
.title{
    text-align: center;
}
#container
{
    display: grid;
    grid-template-columns: repeat(var(--grid), 1fr);
    grid-template-rows: repeat(var(--grid), 1fr);
    width: 500px;
    height: 500px;
    margin: 0 auto;
    
}



.grid-item{
    border: 1px solid rgb(68, 67, 67);
   
    line-height: 0
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}
